<div class="row">
    <div class="col-sm-12 page-header">
        <p><i class="fa fa-circle-o" aria-hidden="true"></i><i class="fa fa-circle-o fa-circle-o-second"
                                                               aria-hidden="true"></i> Kościół</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="image-width-100" src="images/kosciol.jpg"
             alt="Parafia Narodzenia Najświętszej Maryi Panny w Szydłówku"/>
    </div>

    <div class="col-sm-6 info-font-size">

        <div class="row">
            <div class="col-sm-12">
                <p>Parafia Narodzenia Najświętszej Maryi Panny w Szydłówku</p>

                <p>Historia parafii pw. Narodzenia Najświętszej Maryi Panny w Szydłówku rozpoczyna się 29 sierpnia 1982
                    r.
                    przeniesieniem krzyża spod kościoła św. Zygmunta w Szydłowcu i ustawieniem go na placu ofiarowanym
                    przez
                    małżeństwo Adelę i Jacka Jakubowskich w Szydłówku.
                </p>
                <p>Początkowo msze św. odprawiane były pod gołym niebem, przy krzyżu, ale już 3 października 1982 r.
                    została
                    odprawiona pierwsza msza św. w nowo zbudowanej prowizorycznej kaplicy. 12 grudnia kaplica została
                    poświęcona.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.384658342873!2d20.873516850974287!3d51.23041033863886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4718461e17c7dedb%3A0xd75150ee4b8230f7!2sParafia+p.w.+Narodzenia+NMP+w+Szyd%C5%82%C3%B3wku!5e0!3m2!1spl!2spl!4v1485513315444"
                        width="100%" height="450" frameborder="0" style="border:0"></iframe>
            </div>
        </div>

    </div>
</div>
