<div class="row">
    <div class="col-sm-12 page-header">
        <p><i class="fa fa-circle-o" aria-hidden="true"></i><i class="fa fa-circle-o fa-circle-o-second"
                                                               aria-hidden="true"></i> Kościół</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="image-width-100" src="images/kosciol.jpg"
             alt="Parafia Narodzenia Najświętszej Maryi Panny w Szydłówku"/>
    </div>

    <div class="col-sm-6 info-font-size">
        <p>Parafia Narodzenia Najświętszej Maryi Panny w Szydłówku</p>

        <p>Historia parafii pw. Narodzenia Najświętszej Maryi Panny w Szydłówku rozpoczyna się 29 sierpnia 1982 r.
            przeniesieniem krzyża spod kościoła św. Zygmunta w Szydłowcu i ustawieniem go na placu ofiarowanym przez
            małżeństwo Adelę i Jacka Jakubowskich w Szydłówku.
        </p>
        <p>Początkowo msze św. odprawiane były pod gołym niebem, przy krzyżu, ale już 3 października 1982 r. została
            odprawiona pierwsza msza św. w nowo zbudowanej prowizorycznej kaplicy. 12 grudnia kaplica została
            poświęcona.</p>
    </div>
</div>
