<div class="row">
    <div class="col-sm-12 page-header">
        <p><i class="fa fa-home fa-fw" aria-hidden="true"></i> Strona główna</p>
    </div>
</div>

<div class="clock-parent row">
    <div class="col-sm-4">
        <div class="clock-photo clock-photo-her">
            <div class="clock-photo-element clock-photo-brown"></div>
            <div class="clock-photo-element clock-photo-white"></div>
            <div class="clock-photo-element-name font-kasia">Kasia</div>
        </div>
    </div>
    <div class="col-sm-4">
        <p class="clock-icons">
            <i class="fa fa-female" aria-hidden="true"></i>
            <i class="fa fa-male" aria-hidden="true"></i>
        </p>
        <div id="clock"></div>
    </div>
    <div class="col-sm-4">
        <div class="clock-photo clock-photo-him">
            <div class="clock-photo-element clock-photo-brown"></div>
            <div class="clock-photo-element clock-photo-white"></div>
            <div class="clock-photo-element-photo"></div>
            <div class="clock-photo-element-name font-daniel">Daniel</div>
        </div>
    </div>
</div>