<div class="row">
    <div class="col-sm-12 page-header">
        <p><i class="fa fa-university" aria-hidden="true"></i> Szydłowiec</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="image-width-100" src="images/szydlowiec.jpg" alt="Szydłowiec"/>
    </div>

    <div class="col-sm-6 info-font-size">
        <p>Szydłowiec</p>

        <p>Miasto w południowej części województwa mazowieckiego, siedziba władz powiatu i gminy
            miejsko-wiejskiej. Położone na Przedgórzu Iłżeckim nad rzeką Korzeniówką. 30 czerwca 2013 miejscowość
            liczyła 12 087 mieszkańców. </p>
    </div>
</div>