<div class="row">
    <div class="col-sm-12 page-header">
        <p><i class="fa fa-glass" aria-hidden="true"></i> Sala Weselna</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="image-width-100" src="/images/lodownia.jpg" alt="Lodownia"/>
    </div>

    <div class="col-sm-6 info-font-size">
        <p>Sala Weselna „Lodownia”</p>

        <p>Leży w odległości ok. 300 m od zamku Książąt Szydłowieckich. Mury starej lodowni zostały uznane jako
            zabytek
            architektury przemysłowej, gdzie kiedyś chłodzono słód do produkcji piwa oraz przechowywano gotowe
            beczki z
            piwem. Dodatkową atrakcją są niewielkie stawy pełne ryb (Gościom umożliwiamy wędkowanie). Każdy
            znajdzie tu
            kącik do wypoczynku, ścieżki do spacerów po dwuhektarowym ogrodzie i zaciszne miejsce do wypicia
            doskonałej
            kawy.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p><i class="fa fa-car" aria-hidden="true"></i><a
                href="https://www.google.com/maps/place/Lodownia/@51.2311928,20.8508975,17z/data=!3m1!4b1!4m5!3m4!1s0x47184897c7f9a62d:0x9a31f460072766ff!8m2!3d51.2311895!4d20.8530862?hl=pl-PL">
            Dojazd z google maps</a></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.342174058766!2d20.85089751517392!3d51.231192838682475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47184897c7f9a62d%3A0x9a31f460072766ff!2sLodownia!5e0!3m2!1sen!2spl!4v1485513916132"
                width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>