<div class="row">
    <div class="col-sm-12 page-header">
        <p><i class="fa fa-glass" aria-hidden="true"></i> Sala Weselna</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="image-width-100" src="images/lodownia.jpg" alt="Lodownia"/>
    </div>

    <div class="col-sm-6 info-font-size">
        <p>Sala Weselna „Lodownia”</p>

        <p>Leży w odległości ok. 300 m od zamku Książąt Szydłowieckich. Mury starej lodowni zostały uznane jako zabytek
            architektury przemysłowej, gdzie kiedyś chłodzono słód do produkcji piwa oraz przechowywano gotowe beczki z
            piwem. Dodatkową atrakcją są niewielkie stawy pełne ryb (Gościom umożliwiamy wędkowanie). Każdy znajdzie tu
            kącik do wypoczynku, ścieżki do spacerów po dwuhektarowym ogrodzie i zaciszne miejsce do wypicia doskonałej
            kawy.</p>
    </div>
</div>
